$TTL 60m
@             IN  SOA  	ns1.{{ resolv_basedomain }}.  hostmaster.{{ resolv_basedomain }}. (
                        2015100101  ; serial
                        1h          ; refresh
                        15m         ; retry
                        2w          ; expire
                        1m )        ; minimum
